opuslib==2.0.0
protobuf==3.4.0
flask==1.0.2
youtube-dl==2019.2.8
python-magic==0.4.15
Pillow==5.4.1
mutagen==1.42.0
google-api-python-client==1.7.8
oauth2client==3.0.0
requests==2.19.1
configparser==3.7.1
